*.iml
.gradle
/local.properties
/secrets.properties
/local.defaults.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
ai_categories_algorithm/
messaging_access_key/
app/src/main/assets/cloud_messaging/