<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_swapify"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_swapify_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Swapify"
        tools:targetApi="34">
        <activity
            android:name=".principalactivities.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".wishlists.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".principalactivities.LoadingScreenActivity"
            android:exported="true" />
        <activity
            android:name=".items.AddItemActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".users.RegisterActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".users.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".principalactivities.HomePageActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".users.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".users.EditProfileActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".users.ForgotPasswordActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".items.SeeAllItemsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".categories.SeeAllCategoriesActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".chats.ChatActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".chats.AllChatsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".items.FullDetailItemActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".users.VerifyEmailActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".principalactivities.EntryActivity"
            android:exported="true"
            android:theme="@style/Theme.Swapify.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>